*{
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    background-color: black;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 900px;
}

@keyframes rotacao{
    0%{
        transform: rotate(0deg);
        border-color:salmon;
    }
    100%{
        transform: rotate(360deg);
        border-color: violet;
    }
}

.flexbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#nome{
    height: 550px;
    width: auto;
    animation: rotacao 7s linear infinite;
    font-size: 50px;
    border: 5px solid pink;
}

