*{
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    box-sizing: border-box;
}


@keyframes mudar_fundo{
    0%{
        background-color: white;
    }100%{
        background-color: pink;
    }
}

.flexbox{
    display: flex;
    flex-direction: row;
}

#container1{
    background: black;
    /*border-bottom: 3px solid goldenrod;*/
    width: auto;
    height:850px;

}

#header{
    background-color: blue;
    animation: mudar_fundo 4s infinite alternate;
    border: 1px solid red;
    height: 200px;
    width: auto;
}


#container2{
    background-color: rgba(0, 0, 0, 0.945);
    height: 350px;
}

