*{
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    background-color: black;
    box-sizing: border-box;
}

.flexbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
}